@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root{
    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Lato', sans-serif;

    --primario: #1783db;
    --gris: #4a4a4a;
    --blanco: #ffffff;
    --negro: #1f1e1e;
    --grisClaro: #F3F3F4;

    --separacion: 5rem;
}

/*Snipet: 1rem = 10px*/
html{
    box-sizing: border-box;
    font-size: 62.5%;
}*,*:before, *:after{
    box-sizing: inherit;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;

    scroll-behavior: smooth;
}

body{
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;

    margin-left: 80px;

    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    
}




main{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;

  
}
h1,h2,h3{
    font-weight: 900;
    font-family: var(--fuentePrincipal);
    margin: calc(var(--separacion)/ 2) 0;
}

h1{
    font-size: 4rem;

}
h2{
    font-size: 3.6rem ;
    color: var(--primario);
}
h3{
    font-size: 2.3rem;
}
img{
    width: 100%;
    height: auto;
    display: block;
}







header{
    width: 100%;
    height: 80px;
    background: var(--grisClaro);
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 200;
}
@media (min-width: 760px) {
     header{
        top: 0;
     }
     .menu__mobile{
        display: none;
     }
}

.icon__menu{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

.icon__menu i{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}

.menu__side{
    width: 80px;
    height: 100%;
    background: var(--primario);
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid var(--primario);
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar{
    display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side{
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.name__page{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.name__page i{
    width: 20px;
    margin-right: 20px;
}

.options__menu{
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.options__menu a{
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}

.options__menu a:hover{
    color: white;
}

.options__menu .option{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i{
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4{
    font-weight: 300;
    cursor: pointer;
}


/*Clases para usar en JavaScript*/

.body_move{
    margin-left: 250px;
}

.menu__side_move{
    width: 250px;
}


@media screen and (max-width: 760px){
    .body_move{
        margin-left: 0px;
    }

    .menu__side_move{
        width: 80px;
        left: -80px;
    }



    header{
        bottom: 0;
        height: 60px;
    }
    .icon__menu{
        display: none;
    }

    .menu__mobile{
        display: flex;
        justify-content: space-around;
        width: 100%;
        text-align: center;

       
    }
    .menu__mobile a{
        color: var(--primario);
    }
}







/* HOME */

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 2rem;
}
.home__img{
    max-width: 20rem;
    border-radius: 100%;
}

.home__info h1{
    font-size: 3rem;
    color: var(--primario);
    margin: 0;

}
.home__info h3{
    margin: 0;
}
.home__info p{
    font-size: 1.7rem;
}
@media (min-width: 760px) {
      .home{
        flex-direction: row;
        gap: 2rem;
        max-width: 70%;
        margin: auto;

        padding-top: 7rem;
      }
}

.home__enlaces{
    margin-top: 3rem;
}



section{
   margin-top: 5rem;
    margin-bottom: 10rem;
}



.proyecto{
    background-color: white;
    border-radius: 2rem;
    padding-bottom: 2rem;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;

    margin-top: 2rem;
}

.contenedor__img{
    width: 100%;
    height: 20rem;
    overflow: hidden;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

    
}
.proyecto__img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;

}
.proyecto__img:hover{
    transform: scale(1.2);
}


.proyecto__descripcion{
   

    margin: 1rem;
}
.proyecto__descripcion h3{
    margin: 0;
}
.proyecto__tecnologias{
    margin: 0 1rem;
    padding: 1rem;

}
.proyecto__tecnologias{
    display: flex;
    justify-content: start;
    gap: 1rem;

  
}
.proyecto__tecnologias img{
    width: 18px;
    height: auto;
}
.proyecto__tecnologias li{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 0.2rem 1.5rem;
    border-radius: 2rem;
    background-color: #f2f0f0;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--primario);
  
}


.proyecto__enlaces{
    margin: 0 1rem;
    padding: 1rem;
 
}

@media (min-width: 760px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
    }
    
}

.proyecto__enlaces{
    display: flex;
    justify-content: center;
    gap: 1rem;

    margin-top: 1rem;
  
}
.proyecto__enlace{
    background-color: var(--negro);
    font-size: 1.5rem;
    padding: 0.8rem 2rem;
    border-radius: 1rem;
    font-weight: 700;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    transition: background-color .4s ease;
    border: none;


}

.proyecto__enlace:hover {
    cursor: pointer;
    background-color: var(--primario);
}


@media screen and (max-width: 760px){
    .proyecto__enlace{
        width: 100%;
    }
}








/* FORMACION */

.educacion__contenedor{
    padding-left: 5rem;
}
.formacion{
    border-bottom: 1px solid var(--gris);
    padding-bottom: 2rem;
    padding-top: 2rem;

    
}

.formacion:last-child{
    border-bottom:  none;
}
.formacion__cabecera{

    margin-bottom: 1rem;
}
.cabecera__año{
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0;
}
.cabecera__lugar{
    font-size: 1.7rem;
    margin: 0;
}

.formacion__info h4{
    font-size: 1.5rem;
    color: var(--gris);

}
@media (min-width: 760px) {
    .formacion__cabecera{
        display: flex;
        justify-content: space-between;
    }
    .formacion{
        display: flex;
        gap: 2rem;
    }
    .formacion i {
        width: 10rem;
        text-align: center;
    }
}



@media screen and (max-width: 760px){
    .formacion i{
        display: none;
    }
    .educacion__contenedor{
        padding-left: 0;
    }
}




.contenedor__skills h3{
    font-size: 1.8rem;
}
.tecnologias__img{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.tecnologias__img img{
    height: 8rem;
}
.tecnologias__img p{
    color: var(--gris);
    font-weight: bold;
    font-size: 1.3rem;
}


@media (min-width: 760px) {
      .contenedor__skills{
        padding-left: 5rem;
      }
      .tecnologias__img{
        justify-content: center;
        gap: 3rem;
      }
      .contenedor__skills{
        display: flex;
    
        justify-content: space-around;
      }
}















/* contacto */

.contenedor__correo{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.contacto__correo input{
    font-size: 1.5rem;
    padding: 0.8rem 2rem;
    font-weight: 700;
    border-radius: 0.5rem;
    border: 1px solid var(--gris);
    width: 70%;
}
.contacto__correo button{
    background-color: transparent;
    border: 1px solid var(--gris);
   
    border-radius: 0.5rem;
    font-weight: bold;
    transition: background-color .4s ease;

    font-size: 1.5rem;
    padding: 0.8rem 2rem;
    font-weight: 700;
}

.contacto__correo button:hover {
    cursor: pointer;
    background-color: var(--gris);
    color: var(--blanco);
}

@media (min-width: 760px) {
    .contenedor__contacto{
        padding-left: 5rem;
        display: flex;
       justify-content: center;
       align-items: center;
       gap: 5rem;
    }

    .contenedor__correo{
       
        gap: 1rem;
    }
    
    .contenedor__correo input{
        width: 100%;
    }

}

.contacto__enlaces{
    display: flex;
    gap: 1rem;
}




@media (min-width: 760px) {
      
    section{
        padding-top: 7rem;
    }
}


.copy-link-wrapper {
    display: flex;
    color: var(--grisClaro);
    border-radius: 0.5rem;
    font-weight: 700;
    color: var(--negro);
    justify-content:center;
    gap:1rem;
}

.copy-link-wrapper input {
    color :var(--negro);
    outline: none;
    border: 1px solid var(--negro);
    border-radius: 0.5rem;

    background-color: inherit;
    font-size: 1rem;
    font-weight: bold;

    padding: 1rem;
    width: 20rem;
   
}

.copy-link-wrapper input::selection {
    background-color: var(--primario);
    color: var(--blanco);
}

.copy-link-wrapper button {
    color: var(--negro);
    white-space: nowrap;
    padding: 0.3rem 0.7rem;
    border-radius: 0.4rem;
    font-weight: 800;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    font-size: 1.1rem;
    align-items: center;
    background-color: var(--blanco);
    border: 1px solid var(--negro);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 3px 6px;
}



